body {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin: 10vw;
    background-color: #2d2d2f;
    color: #ededed;
}
h1 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
ul {
    list-style-type: none;
    counter-reset: section;
}
li {
    margin: 20px 0 20px 0;
}

a {
    text-decoration: underline;
    color: #ededed;
    font-weight: bold;

}